language: python
python: "3.9"
sudo: false

env:
  global:
    - PYTHONPATH=$TRAVIS_BUILD_DIR:$PYTHONPATH


# command to install dependencies
install:
  - pip install -r requirements-travis.txt

# command to run tests
script:
  - echo $AWS_DEFAULT_REGION
  - python deploy_pipeline.py

